@{
    Layout = "~/Views/Shared/_Layoutbackend.cshtml";
}
@model List<RelicsOutputModel>
<table class="table table-light table-bordered table-hover table-responsive-sm table-responsive-md"
       style="overflow: auto;
        max-height: calc(100vh - 100px);
        display: inline-block">
    <thead style="position: relative;">
    <th style="position: sticky;top: -1px;opacity: 1;z-index: 1;text-align: center;background-color: #9C27B0;color: #ffffff;">ID</th>
    <th style="position: sticky;top: -1px;opacity: 1;z-index: 1;text-align: center;background-color: #9C27B0;color: #ffffff;">Category</th>
    <th style="position: sticky;top: -1px;opacity: 1;z-index: 1;text-align: center;background-color: #9C27B0;color: #ffffff;">Name</th>
    <th style="position: sticky;top: -1px;opacity: 1;z-index: 1;text-align: center;background-color: #9C27B0;color: #ffffff;">Address</th>
    <th style="position: sticky;top: -1px;opacity: 1;z-index: 1;text-align: center;background-color: #9C27B0;color: #ffffff;">Map Url</th>
    <th style="position: sticky;top: -1px;opacity: 1;z-index: 1;text-align: center;background-color: #9C27B0;color: #ffffff;">Image Url</th>
    @*<th style="position: sticky;top: -1px;opacity: 1;z-index: 1;text-align: center;background-color: #9C27B0;color: #ffffff;">Created Date</th>*@
    <th style="position: sticky;top: -1px;opacity: 1;z-index: 1;text-align: center;background-color: #9C27B0;color: #ffffff;">Action</th>
    </thead>
    <tbody class="text-center" id="table-content">
        @{
            if (Model == null)
            {
                <tr>
                    <td colspan="8">Không có dữ liệu.</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-1">@item.RelicsID</td>
                        <td class="col-md-2">@item.CategoryName</td>
                        <td class="col-md-2">@item.RelicsName</td>
                        <td class="col-md-2">@item.Address</td>
                        <td class ="col-md-2"> @item.MapUrl</td>
                        <td class="col-md-2">@item.ImageUrl</td>
                        @*<td class="col-md-2">@item.CreatedDateStr</td>*@
                        <td class="col-md-1">
                            <button onclick="DeletePagoda(@item.RelicsID)">xóa</button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    function DeletePagoda(id) {
        $.ajax({
            type: "POST",
            url: "/BackEndHome/DeletePagoda",
            data: { Id: id },
            success: function (res) {
            }
        });
    }
</script>