@{
    Layout = "~/Views/Shared/_Layoutbackend.cshtml";
}
@model List<UserOutputModel>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <input class="form-control" placeholder="Tài khoản" id="txtUserName" />
        </div>
        <div class="col-md-5">
            <input class="form-control" placeholder="Mật khẩu" id="txtPassword" />
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger" onclick="Create()"> Tạo mới</button>
        </div>
    </div>
</div>
<button style="width: 80px;
        height: 25px;
        text-align: center;
        margin: 20px;
        /*background-color: #00ff21;*/
        /*color: #ffffff;*/">
    Create
</button>

<table class="table table-light table-bordered table-hover table-responsive-sm table-responsive-md">
    <thead style="text-align: center; background-color: #9C27B0; color: #ffffff;">
        <th>ID</th>
        <th>Name</th>
        <th>IsActive</th>
        <th>PassWord</th>
        <th>Created Date</th>
        <th>Action</th>
    </thead>
    <tbody class="text-center" id="table-content">
        @{
            if (Model == null)
            {
                <tr>
                    <td colspan="5">Không có dữ liệu.</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        @{
                            if (@item.IsActive == 1)
                            {
                                <td>Active</td>
                            }
                            else if (@item.IsActive == 0)
                            {
                                <td>Non Active</td>
                            }
                            else
                            {
                                <td></td>
                            }

                        }
                        <td>@item.Password</td>
                        <td>@item.CreatedDateStr</td>
                        <td>
                            @*<button onclick="Delete(@item.Id)">
                                <i class="btnDelete fa fa-fw fa-trash-o"></i>
                            </button>*@
                            @*<a href="javascript:void(0);" title="Xóa yêu cầu." class="cursor-pointer" onclick="Delete(@item.Id)">
                                <i class="btnDelete fa fa-fw fa-trash-o"></i>
                            </a>*@
                            <button onclick="Delete(@item.Id)">xóa <i class="btnDelete fa fa-fw fa-trash-o"></i></button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    function Delete(id) {
        alert(id);
        $.ajax({
            type: "POST",
            url: "/BackEndHome/DeleteUser",
            data: { Id: id },
            success: function (res) {
            }
        });
    };
    function Create() {
        var username = $('#txtUserName').val;
        var pas = $('#txtPassword').val;
        alert(pas);
        $.ajax({
            type: "POST",
            url: "/BackEndHome/Create",
            data: { UserName: username, Password: pas },
            success: function (res) {
            }
        });
    }
</script>